@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --backround: #1C1A19;
  --orange: #CD773A
  --white: #ffffff;
  --contrast : #EC4899
  --gradient: linear-gradient(to right, #EC4899, #F87171);
  --textAll : #8D98CD
}

body {
  margin: 0 1em;
  font-family: "Montserrat", sans-serif;
  background-color: var(--backround)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* button {
  border-radius: 0.3em;
  padding: 0.2em;
  background: linear-gradient(20deg, rgba(236,72,153,1) 0%, rgba(248,113,113,1) 50%);
}
 */